mixin products(products)
  if products.swiper
    .products-swiper.products-swiper--mt
      if products.recommended
        .products.products--recommended
          .container
            .products__row
              if products.title
                h3.products__title= products.title
              .swiper-nav.swiper-navigation
                .swiper-button-prev
                .swiper-button-next
            .swiper-container.swiper.swiper-products
              .swiper-wrapper
                for product in products.data
                  .swiper-slide
                    .product.product-item
                      a.product__img-cont(href='#')
                        img.product__img(src=''+ product.img +'')
                      .product__cont
                        a.product__title(href='#')= product.title
                        p.product__desc= product.text
                        .product__row.product__row--mt
                          .quantity-block
                            button.quantity-arrow.quantity-arrow-minus
                            input.product__amount.quantity-num(type='number' value='1' min='1' max='2000')
                            button.quantity-arrow.quantity-arrow-plus

                          .product__row
                            span.product__price= product.price
                        button.btn.product__btn
                          i.icon.cart-icon
                          span В корзину
              .swiper-pagination

      else
        .products
          .container
            .products__row
              if products.title
                h3.products__title= products.title
              .swiper-nav.swiper-navigation
                .swiper-button-prev
                .swiper-button-next
            .swiper-container.swiper.swiper-products
              .swiper-wrapper
                for product in products.data
                  .swiper-slide
                    .product.product-item
                      a.product__img-cont(href='#')
                        img.product__img(src=''+ product.img +'')
                      .product__cont
                        a.product__title(href='#')= product.title
                        p.product__desc= product.text
                        .product__row.product__row--mt
                          .quantity-block
                            button.quantity-arrow.quantity-arrow-minus
                            input.product__amount.quantity-num(type='number' value='1' min='1' max='2000')
                            button.quantity-arrow.quantity-arrow-plus

                          .product__row
                            span.product__price= product.price
                        button.btn.product__btn
                          i.icon.cart-icon
                          span В корзину
              .swiper-pagination


  else
    .products
      .container
        .products__cont
          for product in products.data
            .product.product-item
              a.product__img-cont(href='#')
                img.product__img(src=''+ product.img +'')
              .product__cont
                a.product__title(href='#')= product.title
                p.product__desc= product.text
                .product__row.product__row--mt
                  .quantity-block
                    button.quantity-arrow.quantity-arrow-minus
                    input.product__amount.quantity-num(type='number' value='1' min='1' max='2000')
                    button.quantity-arrow.quantity-arrow-plus

                  .product__row
                    span.product__price= product.price
                button.btn.product__btn
                  i.icon.cart-icon
                  span В корзину
            
        .btn.load-more-btn.load-more-btn--margins Показать еще
